/* Global font and base typography */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

html,
body {
  font-family: 'Nunito', sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
